@{
    ViewData["Title"] = "Delete";
}
<form method="post">
    <label>ID:</label>
    <input name="Id" type="text" size="50" value="Id" />
    <input type="submit" value="Delete" class="submit" />
</form>
