@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="/User/Add">Добавить пользователя</a>
    @foreach(var item in @Model)
    {
        <div>
            <br />
            id: @item.id
            <p>Name: @item.Name</p> 
            <a href="/User/Delete/@item.id">Удалить</a>
            <a href="/User/Update/@item.id">Редактировать</a>
        </div>
    }
    
</div>
