@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method ="post">
    <div>
       <label>Name:</label>
       <input name="Names" type="text" size="50" value="Names" />
       <input type="submit" value="Insert" class="submit" />
    </div>
</form>

