@{
    ViewData["Title"] = "Update";
}
<form method="post">
    <div>
        <label>ID:</label>
       <input name="Id" type="text" size="50" value="Id" />
       <label>Name:</label>
       <input name="Names" type="text" size="50" value="Names" />
       <input type="submit" value="Insert" class="submit" />
    </div>
</form>
