@{
    ViewData["Title"] = "Delete";
}
<form method="post">
    <label>Форма удаления</label>
    <input type="hidden" value="@ViewBag.Id" name="UserId"/>
    <input href="/Home/Index" type="submit" value="Delete" class="submit" />
</form>
