@{
    ViewData["Title"] = "Users";
}

<div>
    <a href="/Home/Index">Главная</a>
    @foreach(var item in @Model)
    {
        <div>
            <br />
            id: @item.id
            <p>Name: @item.Name</p> 
            <a href="/User/Delete/@item.id">Удалить</a>
            <a href="/User/Update/@item.id">Редактировать</a>
        </div>
    }
</div>
